<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672892446980-0ivj65dusfqq43ammb0ajue49hs3k05s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672892446980-0ivj65dusfqq43ammb0ajue49hs3k05s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>672892446980-012ut8bcmaievlbqgjng063l096qmppe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Go6iY6zBreWmAqTDcc2d_9SeL2h5q8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>672892446980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zakatechsoftware.QuizApp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-9fbed</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-9fbed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672892446980:ios:95beb16c54d9a7687e8851</string>
</dict>
</plist>